.about-wraper{
    width: 60%;
    clear: both;
    display: block;
   
     .about{
        width: 100%;
        min-width: 535px;      
        float: left; 
        margin: 15px;  
        border: 10px solid  $nav-bg-color;
        border-radius: 20px;        
        .avatar{   
            float: left;    
            width: 40%;
        }
        img{
            border-radius: 10px 0 0 10px;
        }   
       .text{   
           font-family: 'Roboto Mono', monospace; 
            font-size: 1rem; 
            margin: 10px 0 0 10px; 
            float: left;                     
           .contributor-name{
                 text-transform: uppercase;          
              }
          a{        
            text-decoration: none;
            color:rgb(0, 116, 18);
              &:hover{
                color: rgb(197, 100, 31);
                cursor: pointer;
               }
            }      
       } 
    
   }  
    h1{ 
       margin-top: 1rem; 
       text-align: center; 
   }
   
}
@include screen-mredia(685px){
    .about{
         min-width: 330px !important;
          .avatar{
              width: 100% !important ; 
              margin: 0 auto !important;
              float: auto !important;
              clear: both  !important;
              img{
                 border-radius: 10px 10px 0 0;
              }
          }
    }
}