.gallery{
    width: 100%;
    padding: 20px 0;      
}
.gallery-item{
    background-color:$gallery-item-bg-color;    
    height: 300px;
    width: 380px;    
    position: relative;
    padding: 0;    
    overflow: hidden;
    margin-bottom: 10px;
    &:hover > .gallery-title-wrapper{
        margin-top:100px;         
    }
    &:hover > .gallery-img > img{        
         opacity: 0.7;
    }
}

.gallery-img{
    transition:  .5s ease-in-out;
    position: absolute;
}
.gallery-title-wrapper{
    background: linear-gradient(to bottom,$gallery-gradient-light ,$gallery-gradient-dark);
    width: 100%;
    min-height:200px;       
    margin-top:150px;
    position: relative;
     z-index: 1;
     transition:  .5s ease-in-out;
       
     .title{              
        color:$fonts-gallery-title-color; 
        margin-left: 5px;        
     }  
      .left{
           padding-top: 50px;
           float: left; 
           max-width: 80%;                             
        }    
       .right{ 
            padding-top: 50px;  
            float: right;        
            margin-right: 5px;    
                             
        }     
          .underTitle{   
            padding-top: 5px;           
            clear: both; 
            margin-left: 5px;              
            opacity: 0.7;
        }  
        .gallery-footer{
        bottom: 0;
        width: 100%;        
        position:absolute;
        z-index: -1;
        .icon-img{
                float: left;
                margin-left: 20px;
                margin-bottom:7px; 
                p{
                     margin-left: 5px;
                    float: right;
                    color: white;

                }           
            }        
            .button-detail{            
                float: right;
                margin-top: 5px;
                margin-right: 10px;
            }
      }
            
}

 .masonry_item { 
margin: 0 auto;
}


