$font-stack:   'Montserrat', sans-serif;
$font-size-body:          10px;
$font-size-base:          10px;
$font-size-large:         ceil(($font-size-base * 1.8)); // ~18px
$font-size-small:         ceil(($font-size-base * 1.2)); // ~12px

$font-size-h1:            floor(($font-size-base * 3.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 3)); // ~30px
$font-size-h3:            ceil(($font-size-base * 2.4)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.8)); // ~18px
$font-size-h5:            ceil(($font-size-base * 1.4)); // ~14px
$font-size-h6:            ceil(($font-size-base * 1.2)); // ~12px


//nav 
$nav-bg-color:rgb(25, 119, 192);
$search-input-color:rgb(132, 129, 129);
$nav-bar-min-width:500px;

//menu
$menu-color:rgb(230, 126, 34);

//header 
$font-ieee-logo:'Source Sans Pro', sans-serif;
$header-gradient-dark:rgba(9, 41, 66,1);
$header-gradient-light:rgba(0, 106, 189,0.2);
$header-font-color:white;

//gallery 
$fonts-gallery-title-color:rgb(255, 255, 255);
$gallery-gradient-dark:rgba(0,0,0,1);
$gallery-gradient-light:rgba(0, 0, 0,0);
$gallery-item-bg-color:black;

//detail view
$detail-footer:rgb(34, 49, 63);

//breackpoints
$small-breackpoint:626px;
$medium_breackpoint:812px;

//
$tooltip:rgb(149, 165, 166);