<!--<div id="subscribeModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

       
        <div class="modal-content">

            <div class="modal-body">
                <div class="text-center">
                    <h2>Subscribe</h2>
                </div>
                <form class="form-horizontal" role="form" [formGroup]="subcriptionForm">
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email address</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="inscriptionIntended.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [formControl]="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label">Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="inscriptionIntended.firstName" [formControl]="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Last Name" name="lastName" [(ngModel)]="inscriptionIntended.lastName" [formControl]="lastName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <button class="btn btn-primary" (click)="onSubscribe()" [attr.data-dismiss]="modal">
                                Sign up
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal" data-target="#subscribeModal">
                                Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>-->

 <div id="modal" class="modal modal-close" [attr.class]="classModal" (click)='clickOutsideModal($event)' > 
        <div class="modal-blur"></div>       
        <div class="modal-content" [attr.class]="modalContent">            
            <span class="close-button" (click)='modalClose()'>×</span>
            <div class="modal-header">
                <h2>Subscribe</h2>
            </div>
            <div class="modal-body">
                <form class="form-flex">
                    <div class="form-control">
                         <label class="label"  for="">Email address</label>
                         <input class="input" type="text" name="email" value=""  [(ngModel)]="inscriptionIntended.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [formControl]="email" required> 
                    </div>
                    <div class="form-control">
                         <label class="label" for="">Name</label>
                          <input class="input" type="text" name="name" value="" [(ngModel)]="inscriptionIntended.firstName" [formControl]="name" required> 
                    </div>
                    <div class="form-control">
                         <label class="label" for="">Last Name</label>
                          <input class="input" type="text" name="" value="" [(ngModel)]="inscriptionIntended.lastName" [formControl]="lastName" required > 
                    </div>
                    <div class="form-control">                         
                          <input class="button danger" type="button" name="" value="Cansel" (click)='modalClose()'> 
                          <input class="button success" type="button" name="" value="Subscribe"  (click)="onSubscribe()" >                           
                    </div>
                   
                </form>
            </div>
        </div>
    </div>