<div class="detail-wraper"  *ngIf='event'>
    <div class="detail-icons">
        <a class="tooltip" (click)="onBack()">
            <span class="tooltiptext">Go Back</span>
            <img src="./svg/Back-Icon.svg" alt="">
        </a>
        <a class="tooltip" href="#1">
            <span class="tooltiptext">interesting</span>
            <img src="./svg/intersting-Icon.svg" alt="">
        </a>
        <a id="subscribe" class="tooltip" (click)="openModal()">
            <span class="tooltiptext">subscribe</span>
            <img src="./svg/subscribe-icon.svg" alt="">
        </a>
    </div>
    <div class="detail-img">
        <img class="image-responsive" [src]='event.image'  alt="">
    </div>
    <div class="detail">
        <h2>{{event.name}}</h2>
        <p>{{event.description}}</p>
        <div class="detail-info">
            <h4>-Location: {{event.location}}</h4>
            <h4>-{{event.eventDate| date:'fullDate' }}</h4>
        </div>
    </div>
    <div class="clear"></div>
    <div class="detail-bottom">
        <img src="img/original%5B1%5D.png" alt="" class="thumbnail-image large">
        <h6>chescalante</h6>
        <h3>{{event.price | currency: 'USD':true:'1.2-2'}}</h3>
    </div>
    <app-eventsub [eventId]='event.id' [isOpen]='isOpen' (closeModal)="closeModal()" ></app-eventsub>
</div>
