<div id="subscribeModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="text-center">
                    <h2>Subscribe</h2>
                </div>
                <form class="form-horizontal" role="form" *ngIf="active" #subcriptionForm="ngForm">
                    <div class="form-group">
                        <div class="alert alert-danger" *ngIf='errorMessage'>
                            {{errorMessage}}
                        </div>
                        <div class="alert alert-success" *ngIf='succesMessage'>
                            {{succesMessage}}
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label  for="InputEmail">Email address</label>
                            </div>
                            <div class="col-md-9">
                                <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngControl="email" #email="ngForm">
                                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                    <div *ngIf="email.errors && email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors && email.errors.pattern">
                                        Email is invalid
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label for="Name">Name</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="user.firstName" ngControl="name" required #name="ngForm">
                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                    Name is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label for="LastName">Last Name</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName" required ngControl="lastName" #lastName="ngForm">
                                <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                                    Last Name is required
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <button class="btn btn-primary" (click)="onSubscribe()" [disabled]="!subcriptionForm.form.valid">
                                Sign up
                            </button>
                            <button class="btn btn-primary" (click)="onCleanMessage()" data-dismiss="modal" data-target="#subscribeModal">
                                Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>