<div class="header ">
    <div class="header-img">
        <img class="image-responsive" src="../../../img/header-pic.jpg" alt="">
    </div>
    <div class="gradient">
        <div class="ieee-logo">
            <h1>IEEE</h1>
            <h3>Advancing Technology for Humanity</h3>
        </div>
        <div class="ieee-welcome">
            <h1>Welcome</h1>
        </div>
    </div>
</div>
<div class="gallery">
    <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">
        <masonry class="masonry_item" [options]="masonryOptions">
            <div masonry-brick *ngFor="let events of eventList">
                <div class="gallery-item ">
                    <div class="gallery-img">
                        <img class="image-responsive" [src]='events.image'  alt="">
                    </div>
                    <div class="gallery-title-wrapper">
                        <div class="gallery-title">
                            <h4 class="title left">{{events.name}}</h4>
                            <h4 class="title right">{{events.price | currency: 'USD':true:'1.2-2'}}</h4>
                            <h6 class="title underTitle">{{events.location}}</h6>
                            <div class="gallery-footer">
                                <div class="icon-img">
                                    <img src="img/original%5B1%5D.png" alt="" class="thumbnail-image small">
                                    <p>Created by Chescalante</p>
                                </div>
                                <div class="button-detail">
                                    <a  class="button round"  (click)="onSelect(events)">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </masonry>
        <div class="moreButtonDiv">
            <div>
                <button style="margin: 25px;" *ngIf="!validate" class="btn btn-info moreButton" (click)="validatePagination()">Load More...</button>
            </div>
        </div>