<div class="row">
    <h2 class="col-sm-12 col-md-12">{{pageTitle}}</h2>
    <div class="row" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">
        <div class="col-sm-6 col-md-4" *ngFor="let events of eventList">
            <div class="app-margin app-border app-padding thumbnailBG">
                <div class="row">
                    <img [src]='events.image' class="col-sm-10 col-md-10 photo" />
                </div>
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 fontColor">
                        <h3>{{events.name}}</h3>
                        <p>{{events.description.substring(0, 100)}}...</p>
                        <h4>Price: {{events.price | currency: 'USD':true:'1.2-2'}}</h4>
                        <h4>Location: {{events.location}}</h4>
                        <button class="btn btn-primary" (click)="onSelect(events)">Detail</button>
                    </div>

                </div>
            </div>
        </div>
    </div>  
</div>
 
    <div class="moreButtonDiv">
        <div>
            <button style="margin: 25px;" *ngIf="!validate" class="btn btn-info moreButton" (click)="validatePagination()">Load More...</button>
        </div>
    
</div>